{% extends "base.html" %}

{% block content %}
  <h1>Chat Room</h1>
  <form method="POST" action="{{ url_for('chat') }}">
    {{ form.csrf_token }}
    {{ form.username.label }} {{ form.username() }}<br>
    {{ form.message.label }} {{ form.message() }}<br>
    {{ form.submit() }}
  </form>
  <hr>
  <ul id="messages">
  </ul>
  <script src="//code.jquery.com/jquery-1.11.1.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
  <script>
    var socket = io.connect('http://' + document.domain + ':' + location.port);
    socket.on('connect', function() {
      socket.send('User has connected!');
    });
    socket.on('message', function(msg) {
      $('#messages').append('<li><b>' + msg.username + '</b>: ' + msg.message + '</li>');
    });
    $('form').submit(function(event) {
      event.preventDefault();
      socket.send({ 'username': $('input[name="username"]').val(), 'message': $('input[name="message"]').val() });
      $('input[name="message"]').val('').focus();
    });
  </script>
{% endblock %}
